body {
    font-family: sans-serif;
    background-image: url("/static/img/concrete_seamless.png");
  

}

h1,
h2 {
    text-align: center;
    text-shadow: 0 0 6px rgb(255, 255, 255);
}

h1 {
    font-weight: 100;
}

h2 {
    margin-top: 60px;
}

p {
    font-weight: 100;
    max-width: 600px;
    margin: 0 auto;
}

.button {
    border: 1px solid #71b9f9;
    background: #72c8ff;
    padding: 10px 15px;
    border-radius: 3px;
    border-radius: 4px;
}

ul {
    width: 300px;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

ul > li {
    margin-bottom: 6px;
}

a, 
a:checked {
    text-decoration: none;
    color: #2c6596;
}

a:hover {
    color: #4592d4;
}

