<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>JavaScript basic level exercises</title>
        <link rel="stylesheet" href="../static/css/style.css" type="text/css">
        
    </head>
    <body>
        <h1>JavaScript basic level exercises</h1>
        <h2>Menu</h2>
        <ul>
            <li><a href="/templates/line.html">Line (demo)</a></li>
            <li><a href="/templates/circle.html">Circle</a></li>
            <li><a href="/templates/square.html">Square</a></li>
            <li><a href="/templates/rectangle.html">Rectangle</a></li>
            <li><a href="/templates/parallelogram.html">Parallelogram</a></li>
            <li><a href="/templates/trapezium.html">Trapezium</a></li>
            <li><a href="/templates/ellipse.html">Ellipse</a></li>
        </ul>
    </body>
</html>
